<body>
  <table id="table">

{{#each smartphone}}
  <tr>
  <th>{{this.smartphone}}</th>
  <th>{{ this.lançamento}}</th>
  <th>{{this.versaoAtual}}</th>
  <th>{{ProxVersao}}</th>
  <th>{{this.Preço}}</th>
  </tr>
{{/each}}

    <thead>
      <tr>
        <th>Smartphone</th>
        <th>Lançamento</th>
        <th>Versão atual</th>
        <th>Próxima versão</th>
        <th>Preço</th>
      </tr>
    
      
    </thead>
    <tbody>


    </tbody>
  </table>
</body> 

